<!-- =include ../includes/header.html -->

<h1>Заголовок (h1)</h1>
<p>Обычный шрифт: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta corporis impedit amet deleniti nisi consequuntur repudiandae laborum tempora aut odio dolores sequi id doloribus quia a esse, non neque dolore!</p>
<h2>Заголовок (h2)</h2>
<p>
	Курсив:
	<i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i>
	<em>Animi eos facere quibusdam voluptas magnam nisi fugiat culpa necessitatibus ea omnis, fugit architecto laudantium minus, alias aperiam perspiciatis, debitis nostrum temporibus!</em>
</p>
<h3>Заголовок (h3)</h3>
<p>
	Жирный:
	<b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</b>
	<strong>Vel amet sequi unde obcaecati architecto reprehenderit, enim modi perspiciatis voluptatibus magnam aspernatur veritatis officia repellendus nisi recusandae vitae vero, autem voluptate.</strong>
</p>
<h4>Заголовок (h4)</h4>
<p>
	Жирный курсив:
	<b><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i></b>
	<strong><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i></strong>
	<b><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em></b>
	<strong><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em></strong>
	<i><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</b></i>
	<i><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></i>
	<em><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</b></em>
	<em><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></em>
</p>
<h5>Заголовок (h5)</h5>

<ul>
	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
	<li>Consectetur culpa tenetur necessitatibus nihil illo enim, aliquam.</li>
	<li>
		Corrupti nobis enim nostrum voluptatem vero incidunt! Itaque.
		<ul>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae esse, pariatur, asperiores explicabo omnis totam nam at repellat quisquam voluptas consequuntur porro similique velit quae blanditiis officiis rerum animi, dolorem!</li>
			<li>Eos, ipsa, dicta?</li>
		</ul>
	</li>
	<li>A nostrum, perspiciatis voluptatum nisi, similique itaque. Aspernatur.</li>
	<li>Doloremque, sint omnis commodi assumenda accusantium non error?</li>
</ul>

<h6>Заголовок (h6)</h6>

<ol>
	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
	<li>Consectetur culpa tenetur necessitatibus nihil illo enim, aliquam.</li>
	<li>
		Corrupti nobis enim nostrum voluptatem vero incidunt! Itaque.
		<ul>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae esse, pariatur, asperiores explicabo omnis totam nam at repellat quisquam voluptas consequuntur porro similique velit quae blanditiis officiis rerum animi, dolorem!</li>
			<li>Eos, ipsa, dicta?</li>
		</ul>
	</li>
	<li>A nostrum, perspiciatis voluptatum nisi, similique itaque. Aspernatur.</li>
	<li>Doloremque, sint omnis commodi assumenda accusantium non error?</li>
</ol>

<h3>Таблица (h3)</h3>

<table>
	<thead>
		<tr>
			<th>Lorem ipsum dolor</th>
			<th>Repudiandae veritatis</th>
			<th>Qui, distinctio perspiciatis</th>
			<th>Saepe laboriosam dolor tempora</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Lorem ipsum dolor sit amet</td>
			<td>Repellendus culpa accusamus nisi, natus</td>
			<td>Sunt voluptatem animi et quo in</td>
			<td>Laborum autem non deleniti</td>
		</tr>
		<tr>
			<td>Repellendus culpa accusamus nisi, natus</td>
			<td>Laborum autem non deleniti</td>
			<td>Sunt voluptatem animi et quo in</td>
			<td>Lorem ipsum dolor sit amet</td>
		</tr>
		<tr>
			<td>Repellendus culpa accusamus nisi, natus</td>
			<td>Lorem ipsum dolor, sit amet consectetur adipisicing elit</td>
			<td>Laborum autem non deleniti</td>
			<td>Sunt voluptatem animi et quo in</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Culpa labore quos deserunt quae.</td>
			<td>Odit atque, aliquam. Illum, quod.</td>
			<td>Sint omnis cumque, ut earum!</td>
		</tr>
	</tfoot>
</table>

<!-- =include ../includes/footer.html -->