$color__placeholder: #000;
$color__bad: #f00;
$color__good: #00f;
$margin_label: 5px;
$margin_input: 15px;

::-webkit-input-placeholder{color:$color__placeholder;}
::-moz-placeholder{color:$color__placeholder;}
:-moz-placeholder{color:$color__placeholder;}
:-ms-input-placeholder{color:$color__placeholder;}

// type="date"
::-webkit-datetime-edit{}
::-webkit-datetime-edit-fields-wrapper{}
::-webkit-datetime-edit-text{} //разделитель
::-webkit-datetime-edit-month-field{}
::-webkit-datetime-edit-day-field{}
::-webkit-datetime-edit-year-field{}
::-webkit-inner-spin-button{display:none;}
::-webkit-calendar-picker-indicator{display:none;}
::-webkit-inner-cancel-button{display:none;}
::-webkit-clear-button{display:none;}

// type="search"
::-webkit-search-cancel-button{display:none;}

// form
.form {
	@include clearfix;
	padding: 20px;
	position: relative;
	&__header {
		margin-bottom: 20px;
	}
	&__footer {
		margin-top: 20px;
	}
	&__preloader {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.5);
	}
	&__messages {}
	.bad {
		color: $color__bad;
	}
	.good {
		color: $color__good;
	}
	&__notes {
		font-size: 12px;
	}
	&__require:not(label) {
		font-size: 18px;
		font-weight: bold;
	}
}

label {
	display: block;
	margin: 0 0 $margin_label;
	&.require:after {
		content: ' *';
		font-weight: bold;
	}
}


/*
 * Текстовые поля
 */
input, textarea {
	font: $fsz__primary $font__primary;
	display: block;
	width: 100%;
	margin: 0 0 $margin_input;
	padding: 7px 15px;
	transition: border-color .2s ease;
	border: 1px solid #000;
	&.error {
		border-color: $color__bad;
	}
}
textarea {
	height: auto;
	resize: none;
}

/*
 * Кнопки
 */
.btn, button, input[type='submit'], input[type='reset'] {
	font-size: 17px;
	font-weight: bold;
	line-height: 1;
	line-height: 1.2;
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0;
	padding: 7px 17px;
	transition: color .2s ease, background-color .2s ease;
	text-align: center;
	color: $color__brand-one;
	border: 1px solid $color__brand-one;
	border-radius: 4px;
	background: transparent;
	&:focus {
		border-color: $color__brand-two;
	}
	&:hover {
		color: $color__secondary;
		border-color: $color__brand-one;
		background: $color__brand-one;
	}
	&:active {
		border-color: darken($color__brand-one, 5);
		background: darken($color__brand-one, 5);
	}
}

/*
 * Чекбокс, радио-кнопка
 */
input[type='radio'], input[type='checkbox'] {
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0;
	height: auto;
}
.check-radio {
	position: relative;
	display: block;
	margin: 0 0 $margin_input 30px;
	label {
		display: inline;
	}
	.jq-checkbox, input[type='checkbox'], .jq-radio, input[type='radio'] {
		position: absolute !important;
		left: -30px;
	}
}
.jq-checkbox {
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid #dbdbdb;
	background: $bg__primary;
	&.error {
		border-color: $color__bad;
	}
	&.focused {
		border-color: $color__brand-two;
	}
	&.checked .jq-checkbox__div {
		width: 10px;
		height: 10px;
		margin: 3px 0 0 3px;
		background: $color__brand-two;
	}
}
.jq-radio {
	@extend .jq-checkbox;
	border-radius: 50%;
	&.checked .jq-radio__div {
		width: 8px;
		height: 8px;
		margin: 4px 0 0 4px;
		border-radius: 50%;
		background: $color__brand-two;
	}
}
/* .Чекбокс, радио-кнопка */

/*
 * Селект
 */
select {
	font: $fsz__primary $font__primary;
	height: $input__height;
	margin: 0 0 $margin_input;
	width: 100%;
	border: 1px solid #dbdbdb;
	padding: 7px 15px;
	border-radius: 3px;
}
.jq-selectbox {
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
	margin: 0 0 $margin_input 0;
	height: $input__height;
	.jq-selectbox__select {
		border: 1px solid #dbdbdb;
		background: $bg__primary;
		color: $color__primary;
		padding: 7px 30px 7px 15px;
		border-radius: 3px;
		transition: border-color .2s ease;
	}
	&.error .jq-selectbox__select{
		border-color: $color__bad;
	}
	&.focused {
		.jq-selectbox__select {
			border-color: $color__brand-two;
		}
	}
	.jq-selectbox__select-text {
		display: block;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.jq-selectbox .placeholder {
		color: $color__placeholder;
	}
	.jq-selectbox__trigger {
		position: absolute;
		top: 0;
		right: 0;
		width: 34px;
		height: 100%;
	}
	.jq-selectbox__trigger-arrow {
		transform: rotate(90deg);
		position: relative;
		width: 100%;
		height: 100%;
		&:before {
			content: '';
			display: block;
			@include sprite($s-arrow-brand-one);
			@include abs-center;
		}
	}
	.jq-selectbox__dropdown {
		width: 100%;
		margin-top: 2px;
		border: 1px solid #dbdbdb;
		border-radius: 5px;
		background: $bg__primary;
		overflow: hidden;
		ul {
			@include list-reset;
			li {
				padding: 5px 10px;
				-webkit-user-select: none;
				   -moz-user-select: none;
				    -ms-user-select: none;
				        user-select: none;
				white-space: nowrap;
				color: $color__primary;
				&.selected,
				&:hover {
					color: $color__secondary;
					background: $bg__brand-one;
				}
			}
		}
	}
}
/* .Селект */