.main-menu {
	overflow: hidden;
	height: 46px;
	margin-bottom: 25px;
	ul {
		@include list-reset;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: inherit;
		margin: 0 auto;
	}
	a {}
}