$font: Arial, Helvetica, sans-serif;
// $font__primary: "Arial Black", Gadget, sans-serif;
// $font__primary: "Comic Sans MS", cursive;
// $font__primary: "Courier New", Courier, monospace;
// $font__primary: Georgia, serif;
// $font__primary: Impact, Charcoal, sans-serif;
// $font__primary: "Lucida Console", Monaco, monospace;
// $font__primary: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
// $font__primary: "Palatino Linotype", "Book Antiqua", Palatino, serif;
// $font__primary: Tahoma, Geneva, sans-serif;
// $font__primary: "Times New Roman", Times, serif;
// $font__primary: "Trebuchet MS", Helvetica, sans-serif;
// $font__primary: Verdana, Geneva, sans-serif;
// $font__primary: Symbol;
// $font__primary: Webdings;
// $font__primary: Wingdings, "Zapf Dingbats";
// $font__primary: "MS Sans Serif", Geneva, sans-serif;
// $font__primary: "MS Serif", "New York", serif;

$fsz: 14px;
// $fsz__primary: 16px;

$fg: #000;
$bg: #fff;

$footer_height: 110px;