$font: Arial, Helvetica, sans-serif;
// $font: "Arial Black", Gadget, sans-serif;
// $font: "Comic Sans MS", cursive;
// $font: "Courier New", Courier, monospace;
// $font: Georgia, serif;
// $font: Impact, Charcoal, sans-serif;
// $font: "Lucida Console", Monaco, monospace;
// $font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
// $font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
// $font: Tahoma, Geneva, sans-serif;
// $font: "Times New Roman", Times, serif;
// $font: "Trebuchet MS", Helvetica, sans-serif;
// $font: Verdana, Geneva, sans-serif;
// $font: Symbol;
// $font: Webdings;
// $font: Wingdings, "Zapf Dingbats";
// $font: "MS Sans Serif", Geneva, sans-serif;
// $font: "MS Serif", "New York", serif;

$fsz: 14px;

$fg: #000;
$bg: #fff;

$footer-height: 110px;