//-
	ЭТОТ ФАЙЛ КОМПИЛИРУЕТСЯ АВТОМАТИЧЕСКИ

mixin icon-arrow
	svg.icon.icon-arrow
		use(xlink:href='#icon-arrow')

mixin icon-close
	svg.icon.icon-close
		use(xlink:href='#icon-close')

mixin sprite-examples

	+icon-arrow

	+icon-close