.main-menu {
	background: #ddd;

	&__list {
		@include ul-reset;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		@include li-reset;
	}
	&__link {
		display: block;
		padding: 10px;
		border: 0;

		&.selected {
			font-weight: 700;
		}
	}
}