.breadcrumbs {
	margin-bottom: 30px;
}
.breadcrumbs__items {
	@include ul-reset;
}
.breadcrumbs__item {
	@include li-reset;
	display: inline-block;
	margin-right: 3px;

	&:after {
		content: '/';
		margin-left: 3px;
	}
	&:last-child:after {
		display: none;
	}
}