.main-menu {
	margin-bottom: 50px;
	border-bottom: 1px solid #eee;
}
.main-menu__list {
	@include ul-reset;
	display: flex;
	justify-content: space-between;
}
.main-menu__item {
	//
}
.main-menu__link {
	display: block;
	padding: 10px;

	&.selected {
		//
	}
}